# Second Class

* Indentation in Python

In [1]:
if True:
 print("This is indented correctly.") # Inside the block

# Incorrect indentation will raise an error:
# if True:
# print("This will cause an IndentationError.")

This is indented correctly.

* Variable in Python

In [2]:
name = "Umair"
age = 26
# Constant (by convention, Python doesn't enforce immutability)
PI = 3.14159
print("Name:", name)
print("Age:", age)
print("PI:", PI)

Name: Umair
Age: 26
PI: 3.14159

* Input / Output in Python

In [ ]:
# Getting user input
user_name = input("Enter your name: ")
user_age = int(input("Enter your age: ")) # Convert input to integer
# Displaying output
print("Hello,", user_name + "!")
print("You are", user_age, "years old.")

* Integers, Floats, and Complex Numbers in Python

In [ ]:
# Integer
x = 10
print("Integer:", x)
# Float
y = 3.14
print("Float:", y)
# Complex number
z = 2 + 3j
print("Complex Number:", z)
print("Real part:", z.real)
print("Imaginary part:", z.imag)

* Strings and Their Operations

In [ ]:
text = "Hello, Python!"
# Accessing characters
print("First character:", text[0])
print("Last character:", text[-1])
# String concatenation
greeting = "Hello" + " World!"
print("Concatenated String:", greeting)
# String repetition
repeat = "Python! " * 3
print("Repeated String:", repeat)
# String slicing
print("Sliced String:", text[0:5]) # Output: Hello
# text[0:5] extracts characters from the string text starting from index 0 (the first character, H) up to (but not including) index 5 (the comma ,)
# String methods
print("Uppercase:", text.upper())
print("Lowercase:", text.lower())
print("Replace:", text.replace("Python", "World"))

* List

In [ ]:
numbers = [1, 2, 3, 4, 5]
print("List:", numbers)
# Accessing elements
print("First element:", numbers[0])
# Modifying list
numbers.append(6)
print("After appending:", numbers)
# List slicing
print("First 3 elements:", numbers[:3]) #numbers[:3] extracts elements at indices 0, 1, and 2

* Tuples

In [ ]:
coordinates = (10, 20, 30)
print("Tuple:", coordinates)
# Accessing elements
print("Second element:", coordinates[1])
# Tuples are immutable, so no modification is allowed

* Sets

In [3]:
unique_numbers = {1, 2, 3, 4, 5}
print("Set:", unique_numbers)
# Adding elements
unique_numbers.add(6)
print("After adding:", unique_numbers)
# Sets are unordered and do not allow duplicates
unique_numbers.add(3)
print("After trying to add duplicate:", unique_numbers)

Set: {1, 2, 3, 4, 5}
After adding: {1, 2, 3, 4, 5, 6}
After trying to add duplicate: {1, 2, 3, 4, 5, 6}

* Dictionaries

In [4]:
student = {"name": "Azfar", "age": 22, "grade": "A+"}
print("Dictionary:", student)
# Accessing values
print("Name:", student["name"])
# Modifying values
student["grade"] = "A+"
print("Updated Dictionary:", student)
# Adding new key-value pairs
student["subject"] = "Math"
print("After adding subject:", student)

Dictionary: {'name': 'Azfar', 'age': 22, 'grade': 'A+'}
Name: Azfar
Updated Dictionary: {'name': 'Azfar', 'age': 22, 'grade': 'A+'}
After adding subject: {'name': 'Azfar', 'age': 22, 'grade': 'A+', 'subject': 'Math'}

* Implicit conversion

In [ ]:

num1 = 10
num2 = 10.01

result  = num1 + num2

print(result)
print(type(result))

* Explicit conversion

In [ ]:


age = "26"
integer = 10

age = int(age)
# integer = str(integer)
# float(age)

print(type(age))

result = age + integer

print(result)

* Arithmatic Operators

In [ ]:
num1 = 10
num2 = 4

print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)
print("Multiplication:", num1 * num2)
print("Division:", num1 / num2)
print("Floor Division", num1 // num2)
print("Modulus", num1 % num2)
print("Exponent", num1 ** num2)   #num1 ^ number

* Comparison Operation

In [ ]:
num1 = 10
num2 = 4

print("Equal", num1 == num2)
print("Not Equal", num1 != num2)
print("Greater than", num1 > num2)
print("Less than", num1 < num2)
# print("Floor Division", num1 // num2)
# print("Modulus", num1 % num2)
# print("Exponent", num1 ** num2)

* Logical Operators

In [ ]:
p = True
q= False

print("AND", p and q)
print("OR", p or q)
print("NOT", not p)

* Assignment Operators

In [ ]:
a=10
a+=5 #a=a+5
a-=5 #a=a-5
a*=5 #a=a*5
a/=5 #a=a/5
print(a)

* Length Function

In [ ]:

sentence = "Python"
print(len(sentence))

* Split function

In [ ]:
sentence = "Python:language"
print(sentence.split(':'))

* Random function

In [ ]:
import random
print(random.randint(1,10))

print(random.random())

print(random.randint(1,10))

items = ['Apple', "Bananas"]

print(random.choice(items))